// Variables para colores y tipografía
$color-nav-bg: #222;
$color-logo: #d62828;
$color-nav-hover: #a4161a;
$color-btn-bg: #d62828;
$color-btn-hover: $color-nav-hover;
$color-footer-bg: #000;
$color-footer-text: #aaa;
$color-input-bg: #000;
$color-input-border: #555;
$fuente-principal: 'Arial Black', sans-serif;
$breakpoint-tablet: 768px;

// Colores principales
$color-primario: #d62828;
$color-secundario: #222;
$color-fondo: #111;
$color-texto: #eee;


// Tiempos de animación
$tiempo-transicion: 0.3s;