.header {
  nav {
    font-family: $font-rock;
    background-color: $dark-bg;
  }
}
/* Navegación */
.header {
  nav {
    a {
      text-transform: uppercase;
      letter-spacing: .08em;
    }
  }
}
